@model MVCExamShop.DAL.Comment

@{
    ViewBag.Title = "Details Comment";
}

<h2>Details Comment</h2>

<p style="color: red">
    @ViewBag.Message
</p>

<div>
    <h4>Comment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Author)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Author)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserComment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserComment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CommentCreationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CommentCreationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BlogId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BlogId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "EditComment", new { CommentId = Model.CommentId }) |
    @Html.ActionLink("Back to List", "CommentsList")
</p>
